<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="CSS/style.css">
    <title>Task Manager</title>
</head>
<body>
	
	<img src="/Images/aa.jpg" width="100%"/>
	
 <div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>WELCOME</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="#" class="link active">Home</a></li>
                <li><a href="/addTask" class="link">Add New Task</a></li>
                <li><a href="/viewTasks" class="link">Tasks</a></li>
                <li><a href="#" class="link">About</a></li>
      
</body>
</html>