h2,h3,h4{
color:#ffa6d5;
font-size:20px;

text-decoration:overline;
}

div ul{
color:red;

}

*{
color:green;

}

ul,li{

color:cyan;
}

h3:hover{
color:brown;
background-color:yellow;
}

h1{

text-combine-upright:digits;
}





